<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.batu.ones.midnightReset</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.one.spotify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ones</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>tiktok</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>Günlük müziğini kaydetmek için Apple Music&apos;e erişim gereklidir.</string>
	<key>NSCameraUsageDescription</key>
	<string>Günlük anlarını fotoğraflamak ve QR kod taramak için kamera erişimi gereklidir.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Uygulama kilidi açıkken anlarını yalnızca sen açabilesin diye Face ID kullanılır.</string>
	<key>NSCalendarUsageDescription</key>
	<string>Günlük müzik anlarını takvimine eklemek için takvim erişimi gereklidir.</string>
	<key>NSContactsUsageDescription</key>
	<string>Arkadaşlarını ONE'a davet etmek için rehberine erişim gereklidir.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Video çekimi sırasında ses kaydı için mikrofon erişimi gereklidir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Günlük kartını ve anılarını fotoğraf kütüphanenden seçmek için erişim gereklidir.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ruh hali kartını ve paylaşım görsellerini fotoğraf kütüphanene kaydetmek için erişim gereklidir.</string>
	<key>LSBundleContainsCoreMLmlmodelc</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans_24pt-Regular.ttf</string>
		<string>DMSans_24pt-Medium.ttf</string>
		<string>DMSans_24pt-SemiBold.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans_18pt-LightItalic.ttf</string>
		<string>Archivo_ExtraBold_Expanded.ttf</string>
	</array>
	<key>SpotifyClientID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>TicketmasterAPIKey</key>
	<string>$(TICKETMASTER_API_KEY)</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
</dict>
</plist>
